<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	   					   http://www.springframework.org/schema/aop 
	   					   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	   					   http://www.springframework.org/schema/tx 
	   					   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	   					   http://www.springframework.org/schema/context 
	   					   http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	   					   http://www.springframework.org/schema/mvc 
	   					   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    
   <!--<context:annotation-config/>-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
     
      <!--   <property name="url" value="jdbc:mysql://localhost:3306/largeweb_crewdb" /> 
        <property name="username" value="largeweb_matho"/>
        <property name="password" value="mathologic123" />  -->
        
        
         <property name="url" value="jdbc:mysql://localhost:3306/crewdb" /> 
        <property name="username" value="root"/>
        <property name="password" value="root" />
  
    </bean>

    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref local="dataSource" />
        </property>
          <property name="mappingLocations" value="classpath:/com/crew/model/*.hbm.xml"/> 
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key= "hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</prop> 
                <prop key="hibernate.connection.pool_size">10</prop>     
                <prop key="hibernate.c3p0.acquire_increment">5</prop>
                <prop key="hibernate.c3p0.idle_test_period">1800</prop>
                <prop key="hibernate.c3p0.min_size">5</prop>
                <prop key="hibernate.c3p0.max_size">600</prop>
                <prop key="hibernate.c3p0.max_statements">70</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                
                <prop key="hibernate.c3p0.timeout">1800</prop>
                
                <prop key="hibernate.hbm2ddl.auto">update</prop> 
                
            </props>
        </property>
    </bean>
    <bean id="abstractDAO" class="com.crew.dao.AbstractCrewDAO" abstract="true">
    <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="sessionFactory" />
        </property>
    </bean>
    
    <bean id="customerLogin" class="com.crew.model.Customer"/>
	
	<bean id="schoolService" class="com.crew.serviceimpl.CrewServiceImpl">
	<property name="crewDAO" ref="dao"></property>
	<property name="customerLoginDetails" ref="customerLogin"/>
	</bean>
	
	<bean id="dao" class="com.crew.daoimpl.CrewDAOImpl">
	<property name="sessionFactory"  ref="sessionFactory"/>
	
	</bean>
	
	
	<!-- Ends  Widget -->
</beans>

